* {
    margin: 0;
    padding: 0;
}

/*Universal Styles*/

html {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: darkgray;
}


/* Navbar */

header {
    display: flex;
    background-color: whitesmoke;
    height: 4rem;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}

.logo {
    margin-left: 24px;
    height: 3rem;
    padding: 0.5rem 2% 0 1.5rem;

}

h1 {
    font-weight: 700;
    color: rgb(65, 65, 65);
    margin-top: 15px;
    text-transform: uppercase;
    line-height: 1.1;
}

h2 {
    line-height: 1.1;
    padding: 0.5rem 0.5rem;
}
}

p {
    line-height: 1.1;
    padding: 0.5rem 0.5rem;
}


span {
    font-weight: 350;
    color: darkgrey;
}

nav {
    height: 64px;
    margin-right: 24px;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    text-decoration: none;
    margin: 16px;
    color:rgb(65, 65, 65);
}


/* large containers */

.learn {
    padding-top: 64px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(211, 211, 211, 0.801);
}

.studying {
    width: 60%;
    height: auto;
    margin: 24px 32px;
}

.studying img{
    width: 100%;
}

.start {
    justify-content: center;
    width: 40%;
    align-items: center;
}

.start a {
    text-align: center;
}

.practice {
    width: 100%;
    display: flex;
    background-color: white;
}

.reading {
    width: 60%;
    height: auto;
    margin: 24px 32px;
}

.reading img {
    width: 100%;
}

.stack-right {
    display: flex;
    flex-direction: column;
}

.stack-left {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
}

.box img {
    width: 35%;
    height: auto;
    margin: 16px;
}

.box-text {
    display: flex:
    flex-direction: column;
    margin: 16px;
}

#lecture {
    background-color: rgba(211, 211, 211, 0.801);
}