* {
    margin: 0;
    padding: 0;
}

/*Universal Styles*/

html {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: darkgray;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1;
    color: rgb(65, 65, 65);
}

.full-box {
    width: 100%;
    height: auto;
}


/* Navbar */

header {
    display: flex;
    background-color: whitesmoke;
    height: 4rem;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}

.logo {
    margin-left: 24px;
    height: 3rem;
    padding: 0.5rem 0 0 1.5rem;

}

.uppercase {
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 2.5rem;
    line-height: 1;
}

h2 {
    line-height: 1.1;
    padding: 0.5rem 0.5rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

p {
}


span {
    font-weight: 350;
    color: darkgrey;
}

nav {
    height: 4rem;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: auto;
    padding-right: 24px;
}

.nav-links li a {
    text-decoration: none;
    color:rgb(65, 65, 65);
    font-size: 1.25rem;
    margin: 0;
    padding: 1.5rem 0.25rem 1.25rem 0.25rem;
    overflow: hidden;
    transition: 400ms background-color;
}

.nav-links li :hover {
    background-color: darkgray;
}

/* large containers */

.full-box {
    padding-top: 64px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(211, 211, 211, 0.801);
}

.full-box img{
    width: 60%;
    height: auto;
    margin: 32px 24px;
}

.text-box {
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
}

.full-box h3 {
    padding: 1.5rem 0 1.5rem 0;
    color: rgb(65, 65, 65);
}

.start {
    width: 85%;
    background-color: #313131;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 1rem 0;
    text-align: center;
    transition: 400ms background-color;
    font-weight: 500;
    text-decoration: none;
  }
  
.start:hover {
    background-color: #000000;
    color: #ffffff;
  }

.practice {
    width: 100%;
    display: flex;
    background-color: white;
    overflow: hidden;
}

.reading {
    width: 60%;
    height: auto;
    margin: 24px 32px;
}

.reading img {
    width: 100%;
}

.stack-right {
    display: flex;
    flex-direction: column;
}

.stack-left {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
}

.box img {
    width: 35%;
    height: auto;
    margin: 16px;
}

.box-text {
    display: flex:
    flex-direction: column;
    margin: 16px;
}

#lecture {
    background-color: rgba(211, 211, 211, 0.801);
}