* {
    margin: 0;
    padding: 0;
}


/*Universal Styles*/

html {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: rgba(211, 211, 211, 0.801);
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1;
    color: rgb(65, 65, 65);
}

h4 {
    font-family: Helvetica;
    font-weight: 300;
    font-size: 18px
}

.full-box {
    width: 100%;
    height: auto;
}


/* Navbar */

.desktop {
    display: flex;
    background-color: whitesmoke;
    height: 4rem;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}

.logo {
    margin-left: 24px;
    height: 3rem;
    padding: 0.5rem 0 0 1.5rem;

}

.uppercase {
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 2.5rem;
    line-height: 1;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
}

span {
    font-weight: 350;
    color: darkgrey;
}

nav {
    height: 4rem;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: auto;
    padding-right: 24px;
}

.nav-links li a {
    text-decoration: none;
    color:rgb(65, 65, 65);
    font-size: 1.25rem;
    margin: 0;
    padding: 1.5rem 0.25rem 1.25rem 0.25rem;
    overflow: hidden;
    transition: 400ms background-color;
}

.nav-links li :hover {
    background-color: darkgray;
}

.mobile {
    display: none;
}

/* large containers */

.full-box {
    padding-top: 64px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(211, 211, 211, 0.801);
}

.full-box img{
    width: 60%;
    height: auto;
    margin: 32px 24px;
}

.text-box {
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
}

#mobile-pic {
    display: none;
}

.full-box h3 {
    padding: 1.5rem 0 1.5rem 0;
    color: rgb(65, 65, 65);
}

.start {
    width: 85%;
    background-color: #313131;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 1rem 0;
    text-align: center;
    transition: 400ms background-color;
    font-weight: 500;
    text-decoration: none;
  }
  
.start:hover {
    background-color: #000000;
    color: #ffffff;
  }

.multi-container {
    width: 60%;
    display: flex;
    flex-wrap: nowrap;
}

.information {
    background-color: rgb(243, 243, 243);
    display: flex;
}

.main-img-box {
    width: 100%;
    margin: 32px 24px;
}

.main-img-box img {
    width: 100%;
    margin-bottom: 2rem;
    
}

.content-stack {
    width: 40%;
    display: flex;
    flex-flow: column;
    vertical-align: top;
    margin-top: 1rem;
}

.content-box {
    display: inline-flex;
    border: 1px solid  rgba(211, 211, 211, 0.801);
}

#information p {
    padding: 0.5rem 0 0.5rem 0;
    line-height: 1.4;
}

.main-img-box h4 {
    padding: 1.5rem 0 1.5rem 0;
    line-height: 1.5;
}

.main-img-box h3 {
    margin: 0 0 2rem 0;
}

.information .text-box a {
    text-decoration: none;
    color: rgb(53, 53, 241);
}

.content-box img {
    width: 35%;
    padding: 1rem 1rem;
    display: inline-block;
}

#lecture {
    background-color: rgba(211, 211, 211, 0.801);
}


/*Course Section*/

.courses {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    padding: 1.5rem 0 1.5rem 0;
}

.course-container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin-bottom: 2rem;
    padding-top: 1.5rem;
}

.course-box {
    width: 30%;
    min-width: 25%;
    height: auto;
    margin: 0 0.5rem 1rem 0.5rem;
    background-color: rgb(243, 243, 243);
    overflow: hidden; 
}

.course-box img {
    width: 100%;
}

.course-text {
    padding: 1rem 1rem 1.5rem 1rem;
}

.course-text h4{
    padding-top: 0.5rem;
}

.thesis {
    background-color: rgb(243, 243, 243);
}

.thesis h1 {
    padding-top: 1.5rem;
    display: flex;
    padding: 2rem 0 2rem 0;
    justify-content: center;
}

.thesis-box {
    display: flex;
}

.content-box video {
    width: 35%;
    padding: 1rem 1rem;
}

.main-img-box video {
    width: 100%;
}

#urban {
    justify-content: start;
    padding: 1.5rem 0 0 .5rem 0;
}

.thesis h4 {
    padding: .5rem 0 2rem 0;
}

/*footer*/

.footer {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    border-top: 1px solid  rgba(211, 211, 211, 0.801);
    background-color: rgb(243, 243, 243);
}

.foot-left {
    padding: 1rem 1.5rem;
}

.foot-right {
    display: flex;
    text-decoration: none;
    padding: 1rem 1.5rem;
}

.foot-right a {
    text-decoration: none;
    padding: .5rem .5rem;
    color: rgb(65, 65, 65);
}

@media only screen and (max-width:600px) {
    .desktop, .information .multi-container, .thesis .content-stack, 
    #urban, .thesis h4, .course-box img, .course-box h4, #pc-pic, .foot-right {
        display: none;
    }

    body {
        overflow-x: hidden;
    }

    .mobile {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .full-box   {
        width: auto;
        padding: 0.5rem 0rem;
        flex-flow: column;
        justify-content: center;
    }

    .full-box img {
        width: 90%;
        padding: 0rem 1rem;
        align-items: center;
        margin: auto;
    }

    .full-box .text-box {
        width: 100%;
        padding: 2rem 1rem;
    }

    .content-stack  {
        width: 100%;
        border-bottom: 1px solid  rgba(211, 211, 211, 0.801);
    }

    .content-stack .content-box .text-box {
        width: 100%;
        padding: 1.5rem 1rem;
    }

    .content-box {
        display: flex;
        flex-flow: column;
        width: 100%;
        border: none;
    }

    #mobile-pic {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 1.5rem 1rem 0rem 1rem;
    }

    #lecture   {
        background-color: rgb(243, 243, 243);
    }

    .course-box   {
        flex-flow: column;
    }

    .courses {
        background-color: rgb(243, 243, 243);
    }

    .course-container {
        display: block;
        width: 100%;
        background-color: rgb(243, 243, 243);
        border-bottom: 1px solid  rgba(211, 211, 211, 0.801);
    }

    .course-box {
        width: 90%;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: rgba(211, 211, 211, 0.801);
    }
    .thesis .multi-container  {
        width: 100%;
    }
}
